@charset "UTF-8";
@import "../css/reset.css";
@import "../css/fonts.css";
html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Segoe UI", "Arial", sans-serif;
  line-height: 1.5;
  color: #666;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  color: #FFF;
  font-size: clamp(12px, 2.08333vw, 16px);
  font-weight: 700;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4579CB;
  max-width: 170px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  padding: clamp(10px, 1.69271vw, 13px);
  -webkit-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
}

.button:hover {
  background-color: #0b439e;
}

.title {
  font-size: clamp(20px, 3.38542vw, 26px);
  font-weight: 700;
  line-height: 184.615%;
  color: #474747;
}

.footer-title {
  font-size: clamp(17px, 2.60417vw, 20px);
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
}

.main__about {
  padding-top: clamp(50px, 14.84375vw, 114px);
  padding-bottom: clamp(50px, 16.92708vw, 130px);
}

.main__advantages {
  padding-bottom: clamp(50px, 21.48438vw, 165px);
}

.main__testimonials {
  padding-bottom: clamp(50px, 16.92708vw, 130px);
}

.main__media {
  padding-bottom: clamp(50px, 17.83854vw, 137px);
}

.main__faq {
  padding-bottom: clamp(50px, 17.57813vw, 135px);
}

.main__award {
  padding-bottom: clamp(50px, 17.57813vw, 135px);
}

.main__contact {
  padding-bottom: clamp(50px, 10.41667vw, 80px);
}

.burger-icon {
  display: none;
  height: 50px;
  width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
}

.burger-icon span {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: #4579CB;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.burger-icon span::before,
.burger-icon span::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: #4579CB;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}

.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #fff;
}

.body--opened-menu .burger-icon {
  position: fixed;
  top: 10px;
  right: 10px;
}

.body--opened-menu {
  overflow: hidden;
}

.header__top {
  padding-top: 24px;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header__logo {
  font-weight: 700;
  font-size: clamp(26px, 5vw, 36px);
  color: #4579CB;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.nav__item:first-child {
  padding-right: 20px;
}

.hero {
  padding-top: clamp(55px, 16.27604vw, 125px);
  background: url("../img/decor/hero-bg.svg") 100% -10%/cover content-box no-repeat;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 38px;
}

.hero__title {
  font-size: clamp(36px, 7.29167vw, 56px);
  letter-spacing: 1.12px;
  line-height: 1.39286;
  font-weight: 700;
  color: #474747;
  max-width: 1046px;
}

.hero__title span {
  color: #4579CB;
}

.hero__text {
  max-width: 828px;
}

.hero__inner .hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  text-decoration: underline;
  -webkit-text-decoration-color: #cacaca;
          text-decoration-color: #cacaca;
}

.hero__link-icon {
  max-width: 23px;
  max-height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__bot {
  padding-top: clamp(55px, 15.23438vw, 117px);
}

.header__bot-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__bot-title {
  padding-bottom: 20px;
}

.header__bot-text {
  padding-bottom: 46px;
}

.header__bot-swiper {
  overflow: visible;
}

.header__bot-swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination {
  position: static;
  margin-top: 23px;
}

.swiper-pagination-bullet {
  height: 18px;
  width: 18px;
}

.swiper-pagination-bullet-active {
  height: 20px;
  width: 20px;
  background-color: #4579CB;
}

.about__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 120px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 100%;
}

.about__body-title {
  max-width: 558px;
  padding-bottom: 24px;
}

.about__body-text {
  max-width: 527px;
  padding-bottom: 30px;
}

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 24px;
  padding-bottom: 51px;
}

.advantages__text {
  max-width: 743px;
}

.advantages__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-template-rows: repeat(2, 1fr);
  gap: clamp(5px, 3vw, 30px);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.advantages__grid-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  color: #474747;
}

.advantages__grid-text {
  text-transform: lowercase;
}

.testimonials__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 15px;
}

.testimonials__img {
  position: relative;
}

.testimonials__img::after {
  content: url(../img/icons/quote.svg);
  position: absolute;
  top: 11%;
  right: 4%;
}

.testimonials__img img {
  width: 100%;
}

.testimonials__name {
  font-weight: 700;
  color: #474747;
  padding-bottom: 4px;
}

.testimonials__text {
  padding-bottom: 19px;
}

.testimonials__quote {
  max-width: 547px;
  font-weight: 700;
  font-size: clamp(16px, 2.60417vw, 20px);
  line-height: 1.4;
  color: #474747;
  padding-bottom: clamp(15px, 4.42708vw, 34px);
}

.testimonials__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(15px, 3.90625vw, 30px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__button-prev,
.testimonials__button-next {
  background-color: #4579CB;
  width: clamp(40px, 9.11458vw, 70px);
  height: clamp(25px, 5.20833vw, 40px);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
}

.testimonials__button-prev:hover,
.testimonials__button-next:hover {
  background-color: #0b439e;
}

.swiper-button-disabled {
  background-color: #E6E6E6;
  cursor: auto;
}

.swiper-button-disabled:hover {
  background-color: #E6E6E6;
  cursor: auto;
}

.media__title {
  padding-bottom: clamp(15px, 3.125vw, 24px);
  text-align: center;
}

.media__text {
  padding-bottom: clamp(15px, 7.68229vw, 59px);
  text-align: center;
}

.media__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(10px, 3.90625vw, 30px);
}

.media__body {
  position: relative;
  max-width: 570px;
}

.media__body::after {
  content: "";
  background-color: rgba(11, 68, 158, 0.8980392157);
  border-radius: 38px;
  -webkit-clip-path: polygon(0 0, 28% 0, 72% 100%, 0 100%);
          clip-path: polygon(0 0, 28% 0, 72% 100%, 0 100%);
  position: absolute;
  inset: 0;
}

.media__body-img img {
  border-radius: 38px;
  width: 100%;
}

.media__body-title {
  position: absolute;
  bottom: 4%;
  left: 5%;
  z-index: 1;
  color: #fff;
}

.media__body-title h3:first-child {
  padding-bottom: 9px;
  max-width: 152px;
}

.media__body-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.media__body-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: clamp(70px, 15.625vw, 120px);
  height: clamp(70px, 15.625vw, 120px);
  border-radius: 50%;
  background-color: rgba(230, 230, 230, 0.7333333333);
  -webkit-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
}

.media__body-btn:hover {
  background-color: #0b439e;
}

.media__body-btn img {
  padding-left: 9%;
}

.faq__title {
  text-align: center;
  padding-bottom: 24px;
}

.faq__text {
  text-align: center;
  padding-bottom: clamp(10px, 6.77083vw, 52px);
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.accordion-list__item {
  border-radius: 10px;
  border: 1px solid #CACACA;
  -webkit-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
  color: #8C8C8C;
  max-width: 570px;
  margin-bottom: 30px;
}

.accordion-list__item:last-child {
  margin-bottom: 0;
}

.accordion-list__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
  padding-bottom: 23px;
  padding-top: 23px;
  padding-left: 27px;
  padding-right: 43px;
}

.accordion-list__item:hover {
  background-color: #0b439e;
  color: #fff;
}

.accordion-list__controls path {
  -webkit-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
}

.accordion-list__item:hover .accordion-list__controls path {
  stroke: #fff;
  fill: #fff;
}

.accordion-list__controls-title {
  font-weight: 700;
}

.accordion-list__controls-title::before {
  content: "+";
}

.active .accordion-list__controls-title::before {
  content: "—";
}

.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
}

.accordion-list__content p {
  padding-bottom: 23px;
  padding-top: 23px;
  padding-left: 27px;
  padding-right: 43px;
}

.award__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(10px, 3.125vw, 24px);
  margin-bottom: clamp(10px, 7.16146vw, 55px);
}

.award__title {
  text-align: center;
}

.award__text {
  max-width: 875px;
  text-align: center;
}

.award__swiper {
  overflow: visible;
}

.award__swiper-pagination {
  margin-top: 55px;
}

.award__swiper-slide-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  height: 239px;
}

.award__swiper-slide-title {
  color: #4579CB;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}

.award__swiper-slide-text {
  max-width: 141px;
  text-align: center;
  font-size: 14px;
  line-height: 1.28571;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
}

.contact__text {
  max-width: 770px;
}

.contact__form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form {
  max-width: 770px;
  width: 100%;
  position: relative;
}

.contact__input {
  background-color: #E6E6E6;
  border-radius: 16px;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 24px;
  padding-left: 34px;
  font-size: 20px;
  line-height: 1.4;
}

.contact__button {
  position: absolute;
  top: 17%;
  right: 3.5%;
}

.footer {
  background-color: #4579CB;
  color: #fff;
  padding: 28px 0 40px;
}

.footer__inner {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__about-title {
  color: #fff;
  padding-bottom: clamp(15px, 4.03646vw, 31px);
}

.footer__about-text {
  max-width: 278px;
}

.footer__company {
  margin-left: 125px;
}

.footer__company-title {
  padding-bottom: clamp(15px, 4.03646vw, 31px);
}

.footer__company-item {
  padding-bottom: 8px;
}

.footer__company-item:nth-child(5) {
  padding-bottom: 17px;
}

.footer__company-item:last-child {
  padding-bottom: 0px;
}

.footer__socielity {
  margin-left: 127px;
}

.footer__socielity-title {
  padding-bottom: clamp(15px, 4.03646vw, 31px);
}

.footer__socielity-item {
  padding-bottom: 8px;
}

.footer__socielity-item:last-child {
  padding-bottom: 0px;
}

.footer__contact {
  margin-left: 161px;
}

.footer__contact-title {
  padding-bottom: clamp(15px, 4.55729vw, 35px);
}

.footer__contact-list {
  padding-bottom: 30px;
}

.footer__contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  padding-bottom: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact-item:last-child {
  padding-bottom: 0px;
}

.footer__contact-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

@media (max-width: 1085px) {
  .footer__inner {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__company,
.footer__socielity,
.footer__contact {
    margin-left: 0px;
    justify-self: start;
  }
}
@media (max-width: 1000px) {
  .media__inner {
    grid-template: none;
  }
}
@media (max-width: 900px) {
  .nav__list {
    background: #4579CB;
    color: #fff;
    position: fixed;
    z-index: 10;
    inset: 0;
    padding-top: 24px;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.55s;
    -o-transition: all 0.55s;
    transition: all 0.55s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5vh;
  }
  .nav__item:first-child {
    padding-right: 0px;
  }
  .burger-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .body--opened-menu .nav__list {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
  .nav {
    gap: 1.5vw;
  }
}
@media (max-width: 800px) {
  .about__inner {
    grid-template: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 768px) {
  .hero {
    background-position: 55% -10%;
  }
  .media__body-btn img {
    width: 50%;
  }
}
@media (max-width: 550px) {
  .testimonials__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .accordion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .accordion-list__item {
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .contact__button {
    position: static;
  }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .footer__company-item:nth-child(5) {
    padding-bottom: 8px;
  }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .footer__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__about-text {
    max-width: none;
  }
  .footer__company-list,
.footer__socielity-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__company-item,
.footer__company-item:nth-child(5),
.footer__socielity-item {
    padding-bottom: 0px;
  }
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 425px) {
  .hero {
    background-position: 43% -10%;
  }
  .media__body-title h3:first-child {
    padding-bottom: 0px;
  }
  .media__body-title {
    line-height: 1.2;
    -webkit-transform: rotate(55deg);
        -ms-transform: rotate(55deg);
            transform: rotate(55deg);
  }
}