@import "vars";
@import "global";
@import "../css/reset.css";
@import "../css/fonts.css";
@import "burger";
@import "functions";

// HEADER

.body--opened-menu {
  overflow: hidden;
}

.header__top {
  padding-top: 24px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__logo {
  font-weight: 700;
  font-size: clamp(26px, 5vw, 36px);
  color: $accent-color;
}

.nav {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 40px;
  align-items: center;
  font-weight: 700;
}

.nav__item:first-child {
  padding-right: 20px;
}

.hero {
  padding-top: clm_px(55, 768, 125);
  background: url("../img/decor/hero-bg.svg") 100% -10% / cover content-box no-repeat;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 38px;
}

.hero__title {
  font-size: clm_px(36, 768, 56);
  letter-spacing: 1.12px;
  line-height: 1.39286;
  font-weight: 700;
  color: $general-title-color;
  max-width: 1046px;
}

.hero__title span {
  color: $accent-color;
}

.hero__text {
  max-width: 828px;
}

.hero__inner .hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  text-decoration: underline;
  text-decoration-color: #cacaca;
}

.hero__link-icon {
  max-width: 23px;
  max-height: 16px;
  flex-shrink: 0;
}

.header__bot {
  padding-top: clm_px(55, 768, 117);
}

.header__bot-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header__bot-title {
  padding-bottom: 20px;
}

.header__bot-text {
  padding-bottom: 46px;
}

.header__bot-swiper {
  overflow: visible;
}

.header__bot-swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination {
  position: static;
  margin-top: 23px;
}

.swiper-pagination-bullet {
  height: 18px;
  width: 18px;
}

.swiper-pagination-bullet-active {
  height: 20px;
  width: 20px;
  background-color: $accent-color;
}

// MAIN

.about__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 120px;
  column-gap: 50px;
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 100%;
}

.about__body-title {
  max-width: 558px;
  padding-bottom: 24px;
}

.about__body-text {
  max-width: 527px;
  padding-bottom: 30px;
}

.advantages__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  padding-bottom: 51px;
}

.advantages__text {
  max-width: 743px;
}

.advantages__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-template-rows: repeat(2, 1fr);
  gap: clm_px(5, 1000, 30);
  text-align: center;
  justify-content: center;
}

.advantages__grid-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.advantages__grid-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  color: $general-title-color;
}

.advantages__grid-text {
  text-transform: lowercase;
}


.testimonials__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.testimonials__img {
  position: relative;
}

.testimonials__img::after {
  content: url(../img/icons/quote.svg);
  position: absolute;
  top: 11%;
  right: 4%;
}

.testimonials__img img {
  width: 100%;
}

.testimonials__name {
  font-weight: 700;
  color: $general-title-color;
  padding-bottom: 4px;
}

.testimonials__text {
  padding-bottom: 19px;
}

.testimonials__quote {
  max-width: 547px;
  font-weight: 700;
  font-size: clm_px(16, 768, 20);
  line-height: 1.4;
  color: $general-title-color;
  padding-bottom: clm_px(15, 768, 34);
}

.testimonials__nav {
  display: flex;
  gap: clm_px(15, 768, 30);
  align-items: center;
}

.testimonials__button-prev,
.testimonials__button-next {
  background-color: $accent-color;
  width: clm_px(40, 768, 70);
  height: clm_px(25, 768, 40);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: $transition;
}

.testimonials__button-prev:hover,
.testimonials__button-next:hover {
  background-color: $hover-color;
}

.swiper-button-disabled {
  background-color: #E6E6E6;
  cursor: auto;
}

.swiper-button-disabled:hover {
  background-color: #E6E6E6;
  cursor: auto;
}


.media__title {
  padding-bottom: clm_px(15, 768, 24);
  text-align: center;
}

.media__text {
  padding-bottom: clm_px(15, 768, 59);
  text-align: center;
}

.media__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: clm_px(10, 768, 30);
}

.media__body {
  position: relative;
  max-width: 570px;
}

.media__body::after {
  content: '';
  background-color: #0B449EE5;
  border-radius: 38px;
  clip-path: polygon(0 0, 28% 0, 72% 100%, 0 100%);
  position: absolute;
  inset: 0;
}

.media__body-img img {
  border-radius: 38px;
  width: 100%;
}

.media__body-title {
  position: absolute;
  bottom: 4%;
  left: 5%;
  z-index: 1;
  color: #fff;
}

.media__body-title h3:first-child {
  padding-bottom: 9px;
  max-width: 152px;
}

.media__body-control {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media__body-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: clm_px(70, 768, 120);
  height: clm_px(70, 768, 120);
  border-radius: 50%;
  background-color: #e6e6e6bb;
  transition: $transition;
}

.media__body-btn:hover {
  background-color: $hover-color;
}

.media__body-btn img {
  padding-left: 9%;
}

.faq__title {
  text-align: center;
  padding-bottom: 24px;
}

.faq__text {
  text-align: center;
  padding-bottom: clm_px(10, 768, 52);
}

.accordion {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.accordion-list__item {
  border-radius: 10px;
  border: 1px solid #CACACA;
  transition: $transition;
  color: #8C8C8C;
  max-width: 570px;
  margin-bottom: 30px;
}

.accordion-list__item:last-child {
  margin-bottom: 0;
}

.accordion-list__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding-bottom: 23px;
  padding-top: 23px;
  padding-left: 27px;
  padding-right: 43px;
}

.accordion-list__item:hover {
  background-color: $hover-color;
  color: #fff;
}

.accordion-list__controls path {
  transition: $transition;
}

.accordion-list__item:hover .accordion-list__controls path {
  stroke: #fff;
  fill: #fff;
}

.accordion-list__controls-title {
  font-weight: 700;
}

.accordion-list__controls-title::before {
  content: '\002B';
}

.active .accordion-list__controls-title::before {
  content: '\2014';
}

.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: $transition;
}

.accordion-list__content p {
  padding-bottom: 23px;
  padding-top: 23px;
  padding-left: 27px;
  padding-right: 43px;
}


.award__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: clm_px(10, 768, 24);
  margin-bottom: clm_px(10, 768, 55);
}

.award__title {
  text-align: center;
}

.award__text {
  max-width: 875px;
  text-align: center;
}

.award__swiper {
  overflow: visible;
}

.award__swiper-pagination {
  margin-top: 55px;
}

.award__swiper-slide-inner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 9px;
  height: 239px;
}

.award__swiper-slide-title {
  color: $accent-color;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}

.award__swiper-slide-text {
  max-width: 141px;
  text-align: center;
  font-size: 14px;
  line-height: 1.28571;
}



.contact__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
}

.contact__text {
  max-width: 770px;
}

.contact__form-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__form {
  max-width: 770px;
  width: 100%;
  position: relative;

}

.contact__input {
  background-color: #E6E6E6;
  border-radius: 16px;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 24px;
  padding-left: 34px;
  font-size: 20px;
  line-height: 1.4;
}

.contact__button {
  position: absolute;
  top: 17%;
  right: 3.5%;
}

// FOOTER

.footer {
  background-color: $accent-color;
  color: #fff;
  padding: 28px 0 40px;
}

.footer__inner {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
}

.footer__about-title {
  color: #fff;
  padding-bottom: clm_px(15, 768, 31);
}

.footer__about-text {
  max-width: 278px;
}

.footer__company {
  margin-left: 125px;
}

.footer__company-title {
  padding-bottom: clm_px(15, 768, 31);
}

.footer__company-item {
  padding-bottom: 8px;
}

.footer__company-item:nth-child(5) {
  padding-bottom: 17px;
}

.footer__company-item:last-child {
  padding-bottom: 0px;
}

.footer__socielity {
  margin-left: 127px;
}

.footer__socielity-title {
  padding-bottom: clm_px(15, 768, 31);
}

.footer__socielity-item {
  padding-bottom: 8px;
}

.footer__socielity-item:last-child {
  padding-bottom: 0px;
}

.footer__contact {
  margin-left: 161px;
}

.footer__contact-title {
  padding-bottom: clm_px(15, 768, 35);

}

.footer__contact-list {
  padding-bottom: 30px;
}

.footer__contact-item {
  display: flex;
  gap: 18px;
  padding-bottom: 8px;
  align-items: center;
}

.footer__contact-item:last-child {
  padding-bottom: 0px;
}

.footer__contact-socials {
  display: flex;
  gap: 18px;
}

@import "media";