body {
  color: rgb(221, 177, 177);
  background: rgb(58, 54, 54);
}

.rectangle {
  background: rgb(221, 177, 177);
  border-radius: 10px;
  position: fixed;
  min-height: 100px;
  width: 50vw;
  bottom: 100px;
  right: 20px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: red;
  position: relative;
  bottom: 50px;
  left: 50px;
}