.header {
  background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
  padding-top: 19px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  max-width: 174px;
  z-index: 11;
}

.header__logo img {
  width: 100%;
}

.nav__list {
  display: flex;
  gap: 4vh 40px;
}

.nav__link {
  display: block;
  position: relative;
  padding: 5px 0;
  z-index: 1;
}

.nav__link::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(--accent-color);
  top: -8px;
  left: -13px;
  opacity: 0;
  transition: all 0.4s;
}

.nav__link:hover::before {
  opacity: 1;
}

.hero {
  padding: 50px 0 120px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.hero__content {
  max-width: 519px;
}

.hero__info {
  color: #B197B2;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.hero__info span {
  display: flex;
  align-items: center;
}

.hero__info span::after {
  content: '';
  background: #B197B2;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: block;
  margin: 0 10px;
}

.hero__info span:last-child::after {
  content: none;
}

.hero__title {
  margin-bottom: 30px;
}

.hero__text {
  margin-bottom: 40px;
  max-width: 358px;
}

.hero__button {
  max-width: 358px;
  width: 100%;
}

.hero__img {
  position: relative;
  margin-right: 247px;
}

.hero__img>img {
  width: 100%;
}

.hero__img-control {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px;
  bottom: 11%;
  left: calc(100% - 39px);
  text-align: left;
}

.hero__img-control--mobile {
  display: none;
}

.hero__img-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.30);
  border-radius: 50%;
  background: var(--secondary-bg);
  height: 78px;
  width: 78px;
}

.hero__img-button img {
  padding-left: 9%;
}

.hero__img-button::before {
  content: '';
  position: absolute;
  border: 1px solid var(--accent-color);
  inset: 5px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.4s;
}

.hero__img-button:hover::before {
  opacity: 1;
}