:root {
  --general-text: #312C27;
  --accent-text: #1F1711;
  --accent-color: #FFA55C;
  --general-bg: #FFF9F4;
  --secondary-bg: #FFE0CB;
}



body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.5;
  background: var(--general-bg);
  color: var(--general-text);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  height: 62px;
  padding: 18px 36px;
  border-radius: 60px;
  transition: all 0.55s;
}

.button:hover {
  background: #FF9138;
}

/* --------------------------------------------------------------------------------------- */

.header {
  background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
  padding-top: 19px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  max-width: 174px;
}

.nav {}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__item {}

.nav__link {
  display: block;
  position: relative;
  padding: 5px 0;
  z-index: 1;
}

.nav__link::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(--accent-color);
  top: -8px;
  left: -13px;
  opacity: 0;
  transition: all 0.4s;
}

.nav__link:hover::before {
  opacity: 1;
}

.hero {
  padding: 50px 0 120px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.hero__content {
  max-width: 519px;
}

.hero__info {
  color: #B197B2;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.hero__info span {
  display: flex;
  align-items: center;
}

.hero__info span::after {
  content: '';
  background: #B197B2;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: block;
  margin: 0 10px;
}

.hero__info span:last-child::after {
  content: none;
}

.hero__title {
  color: var(--accent-text);
  font-family: 'Gabriola';
  font-size: 74px;
  line-height: 0.82;
  margin-bottom: 30px;

}

.hero__text {
  margin-bottom: 40px;
  max-width: 358px;
}

.hero__button {
  max-width: 358px;
}

.hero__img {
  position: relative;
  margin-right: 247px;
}

.hero__img-control {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px;
  bottom: 11%;
  left: calc(100% - 39px);
}

.hero__img-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.30);
  border-radius: 50%;
  background: var(--secondary-bg);
  height: 78px;
  width: 78px;
}

.hero__img-button img {
  padding-left: 9%;
}

.hero__img-button::before {
  content: '';
  position: absolute;
  border: 1px solid var(--accent-color);
  inset: 5px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.4s;
}

.hero__img-button:hover::before {
  opacity: 1;
}